---
layout: layouts/base.njk
description: This is the archive of messages from the SRA
permalink: /archive/
eleventyNavigation:
  key: Archive
  order: 2
---

<h1>Archive</h1>

{% set postslist = collections.posts %}
{% set postslistCounter = collections.posts | length %}
{% include "archivelist.njk" %}