<div>
  {% for post in postslist | reverse %}
          {% if post.data.title %}
            <h2>{{ post.data.title }}</h2>
          {% else %}
            <h2>{{ post.url }}</h2>
          {% endif %}

          <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>

        <p>{{ post.data.description | safe }}</p>
        {{ post.templateContent  | safe }}
        {# {% for tag in post.data.tags | filterTagList %}
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        {% endfor %} #}
      </div>
    </div>
  {% endfor %}
</div>